{% extends 'base.html' %}

{% block content %}
Czy działa?
<div id="testowo"></div>

<div class="dropdown" >
  <button class="btn btn-secondary dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <select class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="wybieraj" >
<!--    {% for item in qs %}-->
<!--    <option value="dupa"><a class="dropdown-item" id='nazwa-skladnika'  href="#">{{ item.nazwa }}</a></option>-->

<!--    {% endfor %}-->
    <option value="" selected data-default disabled hidden > wybierz składnik</option>
    <option value="1" id="dupa">witamina A</option>
    <option value="2" >witamina E</option>
    <option value="3">Hydrokortyzon</option>

  </select>
   <div  data-bs-toggle="modal" data-bs-target="#exampleModal"></div>
</div>
<br><br><br>
<!-- Button trigger modal -->
<div id="tabela-docelowa"></div>
<br>
<br>
<!--modal-->
<div id="modalskladnik">

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--        place for form-->
          <form id="modal-form" method="POST">
              {% csrf_token %}


              <br>
          </form>
      </div>
      <div class="modal-footer">
        <button type="submit" id="dodajsklbutton"  class="btn btn-primary">Dodaj składnik</button>
        <button type="button" id='close-button' class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--     {{form.nazwa}}-->

<!--</form>-->

<div id="prowizorycznatabela"></div>

<!--{% for i in tabela2 %}-->
<!--   {{ i }}-->
<!--{% endfor %}-->
<br>
{% endblock content %}




