{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        <form autocomplete="off" class="mt-5">
          <div class="autocomplete" style="width:300px;">
            <input id="myInput" type="text" name="myCountry" placeholder="Country">
          </div>

        </form>
        <button type="submit" class="btn btn-secondary mt-1 " id="submitButton" > Nowy button</button>
            </div>
    </div>
    <div class="row">
        <div class="col">
         <div id="tabela-docelowa" class="mt-5"></div>
        </div>

        <div class="col">
            <div id='cards' class="red mt-5">siemka</div>
        </div>

    </div>
</div>

<!--<div class="dropdown mt-5 mx-3" >-->
<!--  <button class="btn btn-secondary dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="false">-->
<!--    Dropdown button-->
<!--  </button>-->
<!--  <select class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="wybieraj" >-->
<!--&lt;!&ndash;    {% for item in qs %}&ndash;&gt;-->
<!--&lt;!&ndash;    <option value="dupa"><a class="dropdown-item" id='nazwa-skladnika'  href="#">{{ item.nazwa }}</a></option>&ndash;&gt;-->

<!--&lt;!&ndash;    {% endfor %}&ndash;&gt;-->
<!--    <option value="" selected data-default disabled hidden > wybierz składnik</option>-->
<!--    <option value="1" id="dupa">witamina A</option>-->
<!--    <option value="2" >witamina E</option>-->
<!--    <option value="3">Hydrokortyzon</option>-->
<!--    <option value="4">Metronidazol</option>-->

<!--  </select>-->

<br><br><br>
<!-- Button trigger modal -->

<br>
<br>
<!--modal-->
<div id="modalskladnik">

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--        place for form-->
          <form id="modal-form" method="POST">
              {% csrf_token %}


              <br>
          </form>
      </div>
      <div class="modal-footer">
        <button type="submit" id="dodajsklbutton"  class="btn btn-primary">Dodaj składnik</button>
        <button type="button" id='close-button' class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--     {{form.nazwa}}-->

<!--</form>-->

<div id="prowizorycznatabela"></div>

<!--{% for i in tabela2 %}-->
<!--   {{ i }}-->
<!--{% endfor %}-->
<br>
{% endblock content %}




